* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    font-family: 'Montserrat', sans-serif;
    color: #222;
    overflow-x: hidden;
    background: rgb(199 199 199 / 72%);
}

/* Экран для десктопа */
.desktop-warning {
    display: none;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

/* Основной контент */
.mobile-site {
    display: none;
}

/* Первая секция */
.hero {
    min-height: 100dvh;
    position: relative;
    text-align: center;
    height: 100dvh;
    overflow: hidden;
    color: white;
    background: black;
}

.hero-video {
    filter: blur(0.5px ) grayscale(20%) brightness(70%);
    position: absolute;
    top: calc(-1 * var(--safe-top));
    left: 0;
    width: 100%;
    height: calc(120% + var(--safe-top));
    object-fit: cover;
    transform: translateY(0);
    will-change: transform;
}

.hero-content {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.names-wrap {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.names {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-align: center;

    opacity: 0;
    transform: translateY(20px);
    filter: blur(4px);
    animation: fadeUp 1.6s ease-out forwards;
    animation-delay: 1.1s;
}

.subtitle-wrap {
    position: absolute;
     top: calc(12% + var(--safe-top));
    left: 0;
    right: 0;
    transform: translateX(-50%);
}

.subtitle {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: 0;
    transform: translateY(20px);
    filter: blur(4px);
    animation: fadeUp 1.4s ease-out forwards;
    animation-delay: 0.4s;
}

.scroll-indicator {
    position: absolute;
    bottom: 28px;
    left: 50%;
    margin-left: -9.9px;
    transform: translateX(-50%);
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 6px;

    opacity: 0;
    animation: fadeUp 1.2s ease-out forwards;
    animation-delay: 2.2s;
}

.arrow {
    width: 14px;
    height: 14px;
    border-right: 2px solid rgba(255,255,255,0.85);
    border-bottom: 2px solid rgba(255,255,255,0.85);
    transform: rotate(45deg);
    animation: arrowFloat 1.8s ease-in-out infinite;
}

.arrow:nth-child(2) {
    animation-delay: 0.3s;
}

.hero-content > * {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(4px);
    animation: fadeUp 1.6s ease-out forwards;
}

.hero-content .names {
    animation-delay: 1s;
}

.hero-content .subtitle {
    animation-delay: 0.4s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes arrowFloat {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(0, 0);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(6px, 6px);
    }
}

.invite-title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

/* Вторая секция */
.invite-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.section-divider {
    display: flex;
    justify-content: center;
}

.section-divider span {
    width: 90%;
    height: 1px;
    background: rgb(135 133 133 / 36%);
    position: relative;
}

.section-divider span::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(255 255 255);
    filter: blur(4px);
}